@using x12wasm.Models

<div>
    @if (Line is not null && Line.FieldResults is not null)
    {
        @foreach (var field in Line.FieldResults)
        {
            <X12TextField FieldResult=@field
                          LineCode=@Line.LineCode
                          Clicked=@clicked
                          LineInfo=@setInfo
                          MouseOvered=@mouseOvered />
        }

        @((MarkupString)@Line.LineSuffix)
    }
    </div>

@code {
    [Parameter]
    public EventCallback<string> MouseOvered { get; set; }

    [Parameter]
    public EventCallback<string> Clicked { get; set; }

    [Parameter]
    public LineResult Line { get; set; }

    private string LineInfo { get; set; }

    private async Task clicked(string info)
    {
        await Clicked.InvokeAsync(info);
    }

    private async Task mouseOvered(string info)
    {
        await MouseOvered.InvokeAsync(info);
    }

    private void setInfo(string info)
    {
        LineInfo = info;
    }
}
    