@inject IJSRuntime JSRuntime
@using x12wasm.Models

<div class="fieldValue @(isOver ? "highlight" : "")"
     @onmouseover=@onMouseOver
     @onmouseout=@onMouseLeave
     @onclick=@onClick>     
    @((MarkupString)fieldResult.DisplayValue)<div class="seperator">*</div>
</div>
@code {
    protected string fieldFormattedInfo { get; set; }
    protected bool isOver { get; set; }


    // info to show at end of line
    [Parameter]
    public EventCallback<string> LineInfo { get; set; }
    // mouse over
    [Parameter]
    public EventCallback<string> MouseOvered { get; set; }
    // item clicked on
    [Parameter]
    public EventCallback<string> Clicked { get; set; }

    private FieldResult fieldResult;
    [Parameter]
    public FieldResult FieldResult {
        get
        {
            return fieldResult;
        }
        set
        {
            fieldResult = value;

            if (fieldResult is null)
                fieldResult = new FieldResult(null, "");

            if (string.IsNullOrWhiteSpace(fieldResult.DisplayValue))
                fieldResult.DisplayValue = "&nsbp;";
        }
    }


    [Parameter]
    public string LineCode { get; set; }


    // mouse events
    public async Task onClick(MouseEventArgs args)
    {
        await ensureFormattedInfo();
        await Clicked.InvokeAsync(fieldFormattedInfo);
    }

    public async Task onMouseOver()
    {
        isOver = true;
        await ensureFormattedInfo();

        await MouseOvered.InvokeAsync(fieldFormattedInfo);
    }

    public void onMouseLeave()
    {
        isOver = false;
        StateHasChanged();
    }

    // line formatting
    private async Task ensureFormattedInfo()
    {
        // if already string formtted
        if (!string.IsNullOrWhiteSpace(fieldFormattedInfo))
        {
            await MouseOvered.InvokeAsync(fieldFormattedInfo);
            return;
        }

        if (fieldResult.Field.Ordinal == 0)
            // if not the initial LineCode
            generateLineCode();
        else
            doNonNDC();
    }

    private void generateLineCode()
    {
        fieldFormattedInfo = $@"<table><tr><td>Line:</td><td>{LineCode}</td></tr></table>";
    }

    private string generateFieldInfo(string mapped)
    {
        var str = fieldResult.Field.Format.ToString("G");
        System.Text.StringBuilder result = new System.Text.StringBuilder($@"<table>
<tr><td>Line:</td><td>{fieldResult.LineDescription}</td></tr>
<tr><td>Field:</td><td>({fieldResult.Field.FieldCode}) <b>{fieldResult.Field.FieldName}</b></td></tr>
<tr><td colspan=2></br></td></tr>
<tr><td>Min Len:</td><td>{fieldResult.Field.MinLen}</td></tr>
<tr><td>Max Len:</td><td>{fieldResult.Field.MaxLen}</td></tr>
<tr><td>Required:</td><td>{fieldResult.Field.IsRequired}</td></tr>
<tr><td>Type::</td><td>{str}</td></tr>
<tr><td colspan=2></br></td></tr>
<tr><td>Value:</td><td ><b>{fieldResult.FileValue ?? "<em>None provided</em>"}</b></td></tr>");

        if (fieldResult.ExtraValues is not null && fieldResult.ExtraValues.Any())
        {
            result.Append("<tr><td colspan=2></br></td></tr>");
            foreach (var pp in fieldResult.ExtraValues)
            {
                result.Append($"<tr><td>{pp.Key}</td><td>{pp.Value}</td></tr>");
            }
            result.Append("<tr><td colspan=2></br></td></tr>");
        }

        if (!string.IsNullOrWhiteSpace(mapped))
            result.Append($"<tr><td colspan=2></br></td></tr><tr><td>Value Code:</td><td>{mapped}</td></tr>");

        if (fieldResult.Field.ValueMap is not null && fieldResult.Field.ValueMap.Any())
        {
            result.Append("<tr><td colspan=2></br></td></tr><tr><td colspan=2><div class='valueMapTable'><table>");
            foreach (var pp in fieldResult.Field.ValueMap.OrderBy(z => z.Key))
            {
                if (fieldResult.FileValue == pp.Key)
                    result.Append($"<tr><td class='detailCode matched'>{pp.Key}</td><td class='matched'>{pp.Value}</td></tr>");
                else
                    result.Append($"<tr><td class='detailCode'>{pp.Key}</td><td>{pp.Value}</td></tr>");
            }
            result.Append("</table></div></td></tr><tr><td colspan=2></br></td></tr>");
        }

        return $"{result}</table>";
    }

    private void doNonNDC()
    {
        // if there's a map, then check if in there
        if (fieldResult.FileValue is not null
            && fieldResult.Field.ValueMap is not null
            && fieldResult.Field.ValueMap.ContainsKey(fieldResult.FileValue.Trim()))
            fieldFormattedInfo = generateFieldInfo(fieldResult.Field.ValueMap[fieldResult.FileValue.Trim()]);
        else
            // otherwise just use default
            fieldFormattedInfo = generateFieldInfo(null);
    }


}