@page "/"
@inject IJSRuntime JSRuntime

@using System.IO;
@using x12interpretor;
@using x12interpretor.Models;


<h1>X12 EDI Interpretor</h1>
<button @onclick=@switchMode>Switch Mode</button> Currently: @(inFocusMode ? "Focus Mode" : "Default")
<div class="drag-drop-zone">
    <InputFile OnChange=@fileChange multiple></InputFile>
    @((MarkupString)fileDragDrop)
</div>

<div class="flex-container">
    <div class="flex-item-left" ondrop="event.preventDefault()">
        @* will I need a horizontal scroll bar? *@
        <div class="btn-group" role="group">
            @foreach (var result in ResultSet)
            {
            <button id=@(result.FileName.GetHashCode()) class="btn btn-active" @onclick="(e) => tabClick(result.FileName, e)">@result.FileName</button>
            }
        </div>
        <br />
        <br />
        @if (CurrentSet is not null)
        {
            foreach (var line in CurrentSet.Lines)
            {
        <X12TextLine MouseOvered=@mouseOvered Clicked=@clicked Line=line></X12TextLine>
            }
        }
    </div>
    <div class="flex-item-right">
        <Details @ref=@details> </Details>

    </div>
</div>

@code {
    private string fileDragDrop { get; set; }
    private Interpretor interp = new Interpretor();

    x12wasm.LineFormtters.FocusModeLineFormatter focusMode = new x12wasm.LineFormtters.FocusModeLineFormatter();
    x12wasm.LineFormtters.DefaultLineFormatter defaultMode = new x12wasm.LineFormtters.DefaultLineFormatter();

    // all the files loaded
    public List<x12fileResult> ResultSet { get; set; }
    // currently displayed tab
    public x12fileResult CurrentSet { get; set; }


    // is FocusMode the active mode
    bool inFocusMode = false;

    // details.razor -- used as @ref to send info from mouse events
    private Details details;

    public Index()
    {
        ResultSet = new List<x12interpretor.Models.x12fileResult>();
        fileDragDrop = "You can drag/drop multiple 850 files &nbsp;<em>here</em>, or click to browse for the file.";
    }

    // send mouse events to Details
    public void mouseOvered(string info)
    {
        details.mouseOvered(info);
    }
    // send mouse events to Details
    public void clicked(string info)
    {
        details.clicked(info);
    }

    // file name clicked
    public async Task tabClick(string file, MouseEventArgs args)
    {
        await updateCurrent(ResultSet.First(z => z.FileName == file));
    }

    // change the UI mode for all loaded files
    public void switchMode(MouseEventArgs eventArgs)
    {
        inFocusMode = !inFocusMode;

        foreach (var result in ResultSet)
        {
            setModeOnResult(result);
        }
    }

    // change a result UI mode
    private void setModeOnResult(x12fileResult result)
    {
        // later on - make this more dynamic
        if (inFocusMode)
        {
            var fm = new x12wasm.LineFormtters.FocusModeLineFormatter();
            foreach (var line in result.Lines)
            {
                fm.FormatLine(line);
            }
        }
        else
        {
            var fm = new x12wasm.LineFormtters.DefaultLineFormatter();
            foreach (var line in result.Lines)
            {
                fm.FormatLine(line);
            }
        }
    }

    // files dropped or browsed for - process 
    public async Task fileChange(InputFileChangeEventArgs dea)
    {
        var files = dea.GetMultipleFiles(5);

        fileDragDrop = $"Processing {files.Count}";

        foreach (var file in files)
        {
            await processFile(file);
        }

        StateHasChanged();

        // make first file loaded the active
        await updateCurrent(ResultSet[0]);
        StateHasChanged();
        fileDragDrop = "You can drag/drop multiple 850 files &nbsp;<em>here</em>, or click to browse for the file.";
        StateHasChanged();
    }

    private async Task updateCurrent(x12fileResult result)
    {
        // update the css classes for the buttons
        await JSRuntime.InvokeVoidAsync("activeButton.setActive", "#" + result.FileName.GetHashCode());
        CurrentSet = result;
    }

    // process 1 file
    private async Task processFile(IBrowserFile file)
    {
        // load the data
        using var rdr = new StreamReader(file.OpenReadStream());
        var info = await rdr.ReadToEndAsync();

        // process the data
        var data = await interp.ProcessFileAsync(info);
        data.FileName = file.Name;

        // update display field to match current selected mode
        setModeOnResult(data);
        // save to list
        ResultSet.Add(data);
    }
}
